@model IEnumerable<ProductLab.Models.Product>

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<p>
    @Html.ActionLink("Add Item", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { pId = item.Id }) |
            @Html.ActionLink("Details", "Details", new { pId = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { pId = item.Id })
        </td>
    </tr>
}

</table>
